<nav class="navbar" id="check">
    <div class="navbar-logo">       
        <a href="/" title="title" class="logo">Recipes</a>
    </div>   
    <div class="nav__container">
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" title="title" class="links active">Home</a>
            </li>
            <li class="nav-item">
                <a href="/DessertCakes" title="title" class="links">Dessert Cakes</a>
            </li>
            <li class="nav-item">
                <a href="/DessertDrinks" title="title" class="links">Dessert drinks</a>
            </li>
            <li class="nav-item">
                <a href="/DessertCookies" title="title" class="links">Dessert Cookies</a>
            </li>
        </ul>
        
    </div>   
    <i class="fa fa-bars" id="show-menu"></i>  
</nav> 
<hr />  