<div class="profile-container">
    <section class="profile-section">
        <h2>Profile</h2>
            <div class="profile-img-container">
                <img src="../images/profile-img.jpg" alt="Profile image">
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem earum repudiandae quas dicta delectus numquam laborum cumque distinctio fuga vitae? Rem ratione temporibus dolores, quas suscipit dolorum labore consequatur nemo?</p>
    </section>
</div>
 

         